* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
  }
  
  .section {
    width: 90%;
    margin: 0 auto;
  }
  
  .main1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .chap1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    width: 420px;
    color: #F48C06;
  }
  .chap2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    width: 600px;
    margin-top: 30px;
  }